.card {
  background-color: var(--background-white);
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-light);
}

.small {
  padding: 1rem;
}

.medium {
  padding: 1.5rem;
}

.large {
  padding: 2rem;
}